@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-family: "inter";
  background-color: #f7cf31;
}

header {
  padding: 30px;
}

.caixa {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #2b2b2b;
}

nav {
  position: absolute;
  top: 5px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-decoration: none;
  color: #2b2b2b;
  font-weight: bold;
  transition: 0.5s;
}

nav a:hover {
  color: #da3434;
}

.intro, .sobre, .contato {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.intro-conteudo, .texto, .contato{
  margin-top: 5%;
}

.titulo {
  font-weight: bold;
  font-size: 2em;
  padding: 0.3em 0;
  color: #2b2b2b;
}

.subtitulo-home {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.8em 0 1em 0;
  color: #2b2b2b;
}

.subtitulo {
  font-weight: bold;
  font-size: 1.5em;
  padding: 1em 0 0.3em 0;
  color: #2b2b2b;
}

.intro-conteudo, .texto p, form {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  padding: 1em 0;
  color: #2b2b2b;
}

img {
  float: right;
  width: 39%;
}

.caixa-botao {
  text-decoration: none;
}

.botao {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  padding: 1.1em 0;
  margin-top: 1em;
  color: #fafafa;
  background-color: #F83A3A;
  border-radius: 25px;
  user-select: none;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  box-shadow: 0 15px 40px -5px #f83a3ae0;
}

.bot {
  text-decoration: none;
}

/*.botao:hover {
  color: #fafafae7;
  background-color: #da3434;
}*/

.botao:hover {
  font-weight: bold;
  color: #F83A3A;
  background-color: #fafafa;
  box-shadow: 0 15px 40px -5px #f83a3ae0;
}

.copy {
  position: relative;
  clear: right;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #2b2b2b;
  padding: 2em 0 1.5em 0;
  margin: 40px 0 0 0;
}


/* css pagina sobre-mim */

.tech, .social {
  display: flex;
}

.tech li, .social li{
  padding: 0.3em 1em 0 0;
  color: #2b2b2b;
  font-size: 3em;
  transition: 0.4s;
}

.social a {
  text-decoration: none;
  color: #2b2b2b;
  transition: 0.4s;
}

.tech li:hover {
  transform: scale(1.1);
}

.social li:hover {
  transform: scale(1.1);
}

.html:hover{
  color: #E97601;
}

.css:hover {
  color: #2EA3D5;
}

.js:hover{
  color: #89BB3C;
}

.git:hover {
  color: #E84D31;
}

.linkedin:hover {
  color: #0A66C2;
}

.tt:hover {
  color: #009AE9;
}

/* css pagina contato */

form label {
  display: block;
  font-size: 1em;
  font-weight: 500;
  color: #2b2b2b;
  margin: 0.5em 0 0.5em 0;
}

.input-padrao {
	display: block;
  width: 30%;
  font-size: 1em;
  color: #2b2b2b;
  padding: 0.8em;
  margin: 0.5em 0 0 0;
  border-radius: 25px;
  border: 2px solid #2b2b2b3d;
}

.enviar {
  width: 5%;
  font-size: 1em;
  color: #2b2b2b;
  padding: 0.8em;
  margin: 0.5em 0 0 0;
  border-radius: 25px;
  border: 2px solid #2b2b2b3d;
  transition: 0.5s;
}

.enviar:hover {
  width: 10%;
  color: #fafafa;
  background-color: #2EA3D5;
  cursor: pointer;
}